.wCenterCon1 {
	width: 100%;
}

.myList {
	position: relative;
	margin: auto;
	width: 1024px;
}

.white_content {
	display: none;
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	padding: 6px 16px;
	border: 12px solid #D6E9F1;
	background-color: white;
	z-index: 1002;
	overflow: auto;
}

.black_overlay {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: #f5f5f5;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity = 80);
}

.close {
	float: right;
	clear: both;
	width: 100%;
	text-align: right;
	margin: 0 0 6px 0
}

.close a {
	color: #333;
	text-decoration: none;
	font-size: 14px;
	font-weight: 700
}

.con {
	text-indent: 1.5pc;
	line-height: 21px
}

.message {
	margin: auto;
	width: 1024px;
}

.messageCheckbox {
	
}

.messageList {
	margin: auto;
	width: 1024px;
}

.textarea {
	border: 1px solid #999;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 1px;
	height: 150px;
	overflow: auto;
	width: 100%;
	text-align: left;
	padding: 5px;
}

.alipic {
	margin: 0 auto;
	width: 900px;
	height: 270px;
	border: 1px solid #fff
}

.font {
	font-size: 12pt;
	color: #999999;
	font-family: ¿¬Ìå, sans-serif;
}

/* base styles */
* {margin:0; padding:0;}
img {border:0;}
.clear {clear:both; line-height:0; height:0; font-size:1px;}
.marg {width:916px; margin:0 auto;}
body {font:13px Arial, Helvetica, sans-serif; color:#000000;}

.top {
	background: url(../images/top.jpg) repeat-x top;
	width: 100%;
	height: 175px;
	top: 0;
	left: 0;
	position: absolute;
}

.mid {
background: url(../images/bg.png) repeat top;
width: 100%;
height: 1108px;
top: 174px;
left: 0;
position: absolute;
}

.bottom {
background: url(../images/bottom.jpg) repeat-x top;
width: 100%;
height: 389px;
top: 1109px;
position: absolute;
left: 0;
}
* {
margin: 0;
padding: 0;
}

a:hover {
text-decoration: underline;
}
a {
text-decoration: none;
color: #D1EEEE;
outline: none;
cursor: pointer;
}

/* footer section */
.footer {
	padding: 25px 0 0 33px;
}

.footer_wrap {
	width: 800px;
	margin: 0 auto;
	position: relative;
	padding: 0 0 50px 0;
}

.footer .wcont {
	float: left;
	width: 235px;
	padding: 0 15px;
	color: #7c7c7c;
}

.footer .wcont .title {
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	font-size: 24px;
	padding: 0 0 18px 0;
	display: block;
}

.footer .wcont .title a {
	color: #fff;
}

.footer .wcont .title a:hover {
	text-decoration: none;
}

.footer .wcont a {
	color: #7c7c7c;
}

.footer .wcont ul {
	list-style: none;
}

.footer .wcont ul li {
	padding: 5px 0 5px 10px;
	background: url(../images/cat_li.png) no-repeat left;
}

.footer .wcont ul li a:hover {
	color: #ff7e20;
	text-decoration: none;
}

.footer .wcont .twitter li {
	background: none;
	padding: 5px 0;
}

.footer .wcont .twitter li a {
	color: #fff;
}

/* foot section */
.foot {
	font-size: 10px;
	color: #ddd;
	text-transform: uppercase;
	background: url(../images/foot_bg.jpg) repeat;
	position: relative;
}

.foot .foot_wrap {
	margin: 0 auto;
	text-align: center;
	padding: 35px 0;
}

.foot a {
	color: #ddd;
}

