.wCenterCon1 {
    width: 100%;
}
.myList {
    margin: auto;
    width: 1024px;
}

.white_content {
	display: none;
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	padding: 6px 16px;
	border: 12px solid #D6E9F1;
	background-color: white;
	z-index: 1002;
	overflow: auto;
}

.black_overlay {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: #f5f5f5;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity = 80);
}

.close {
	float: right;
	clear: both;
	width: 100%;
	text-align: right;
	margin: 0 0 6px 0
}

.close a {
	color: #333;
	text-decoration: none;
	font-size: 14px;
	font-weight: 700
}

.con {
	text-indent: 1.5pc;
	line-height: 21px
}

.message {
    margin: auto;
    width: 1024px;
}

.messageCheckbox {
}

.messageList {
    margin: auto;
    width: 1024px;
}

.textarea{
	    border:1px solid #999;
       font-size:12px;
       font-family: Verdana, Arial, Helvetica, sans-serif;
       padding:1px;
       height:150px;
       overflow:auto;
       width:100%;
       text-align:left;
       padding:5px;
}